In [6]:
#Series and Dataframe
import pandas as pd
data1=[0,1,2,3,4,5]
mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}
myseries=pd.Series(data1)
myvar = pd.DataFrame(mydataset)
mydata1=pd.DataFrame(data1)
print(myseries)
print("-"*100)
print(myvar)
print("-"*100)
print(mydata1)
print("-"*100)

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64
----------------------------------------------------------------------------------------------------
    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2
----------------------------------------------------------------------------------------------------
   0
0  0
1  1
2  2
3  3
4  4
5  5
----------------------------------------------------------------------------------------------------

In [20]:
#Series in Pandas and object attributes
import pandas as pd  
import numpy as np  
#Create series using array
info = np.array(['P','a','n','d','a','s'])  
a = pd.Series(info)  
print(a) 
#Create series usng dictionary
info1 = {'x' : 0., 'y' : 1., 'z' : 2.}  
a1 = pd.Series(info1)  
print (a1)
# Create series using scalar
x = pd.Series(4, index=[0, 1, 2, 3])  
print (x)  
#Create series using indexes
x1 = pd.Series([1,2,3],index = ['a','b','c'])  
#retrieve the first element  
print (x1) 
print(x1.index)
print(x1.shape)
print(x1.dtype)
print(x1.size)
print(x1.empty)
print(x1.hasnans)
print(x1.nbytes)
print(x1.ndim)
#print(x1.itemsize)

0    P
1    a
2    n
3    d
4    a
5    s
dtype: object
x    0.0
y    1.0
z    2.0
dtype: float64
0    4
1    4
2    4
3    4
dtype: int64
a    1
b    2
c    3
dtype: int64
Index(['a', 'b', 'c'], dtype='object')
(3,)
int64
3
False
False
24
1

In [34]:
#Series Functions

x = pd.Series([1,2,3,np.NAN],index = ['a','b','c','d'])  
print(x)
print(len(x))
print(x.count())
a=pd.Series([1,2,3,4,5,3,4,5])
b=pd.Series([6,7,8,9,10])
print(a.std())
print(a.max())
print(a.unique())
print(a.value_counts())

a    1.0
b    2.0
c    3.0
d    NaN
dtype: float64
4
3
1.407885953173359
5
[1 2 3 4 5]
3    2
4    2
5    2
1    1
2    1
dtype: int64

In [9]:
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories)

print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [45]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45],
    "one":[1,2,3],
    "two":[1,2,3]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

print(df) 
#info = {'one' : pd.Series([1, 2, 3, 4, 5, 6], index=['a', 'b', 'c', 'd', 'e', 'f']),  
 #  'two' : pd.Series([1, 2, 3, 4, 5, 6, 7, 8], index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])}  
  
#d1 = pd.DataFrame(info)  
#Column Selection
print (df['one'])   
#Column Addition
df['three']=df['one']+df['two']
print(df)
#Column Deletion:
#del df['one']
#Row Selection
print(df.iloc[0])
print(df[2:3])

   calories  duration  one  two
0       420        50    1    1
1       380        40    2    2
2       390        45    3    3
0    1
1    2
2    3
Name: one, dtype: int64
   calories  duration  one  two  three
0       420        50    1    1      2
1       380        40    2    2      4
2       390        45    3    3      6
calories    420
duration     50
one           1
two           1
three         2
Name: 0, dtype: int64
   calories  duration  one  two  three
2       390        45    3    3      6

In [52]:
#DataFrame Aggregate Functions
info1 = pd.DataFrame({"x":[25,15,12,19],   
                    "y":[47, 24, 17, 29]})     
# Create second Dataframe using dictionary   
info2 = pd.DataFrame({"x":[25, 15, 12],   
                    "y":[47, 24, 17],    
                    "z":[38, 12, 45]})   
# append info2 at end in info1   
print(info1.agg(['sum','min','max']) ) 
print(info1)

      x    y
sum  71  117
min  12   17
max  25   47
    x   y
0  25  47
1  15  24
2  12  17
3  19  29

In [62]:
#Assign function
# Create an empty dataframe  
info = pd.DataFrame()  
  
# Create a column  
info['ID'] = [101, 102, 103]
print(info)
info1=info.assign(Name = ['Smith', 'Parker', 'John'])  
print(info1)
info1=info1.assign(Mark1=[79,67,89])
info1=info1.assign(Mark2=[79,67,89])
info1=info1.assign(Total=lambda x: x.Mark1+x.Mark2)
print(info1)
print(info1.count())

    ID
0  101
1  102
2  103
    ID    Name
0  101   Smith
1  102  Parker
2  103    John
    ID    Name  Mark1  Mark2  Total
0  101   Smith     79     79    158
1  102  Parker     67     67    134
2  103    John     89     89    178
ID       3
Name     3
Mark1    3
Mark2    3
Total    3
dtype: int64

In [72]:
info_nums = pd.DataFrame({'num': np.arange(0,100,5,int) })  
print(info_nums)  
info_nums['num_bins'] = pd.cut(x=info_nums['num'], bins=[1,25])  
print(info_nums)  
info1_nums=info_nums
print(info_nums['num_bins'].unique())  
print(info_nums.describe())

    num
0     0
1     5
2    10
3    15
4    20
5    25
6    30
7    35
8    40
9    45
10   50
11   55
12   60
13   65
14   70
15   75
16   80
17   85
18   90
19   95
    num     num_bins
0     0          NaN
1     5  (1.0, 25.0]
2    10  (1.0, 25.0]
3    15  (1.0, 25.0]
4    20  (1.0, 25.0]
5    25  (1.0, 25.0]
6    30          NaN
7    35          NaN
8    40          NaN
9    45          NaN
10   50          NaN
11   55          NaN
12   60          NaN
13   65          NaN
14   70          NaN
15   75          NaN
16   80          NaN
17   85          NaN
18   90          NaN
19   95          NaN
[NaN, (1.0, 25.0]]
Categories (1, interval[int64, right]): [(1, 25]]
             num
count  20.000000
mean   47.500000
std    29.580399
min     0.000000
25%    23.750000
50%    47.500000
75%    71.250000
max    95.000000

In [74]:
#Removing duplicates
emp = {"Name": ["Parker", "Smith", "William", "Parker"],  
"Age": [21, 32, 29, 21]}  
info = pd.DataFrame(emp)  
info = info.drop_duplicates()  
print(info)

      Name  Age
0   Parker   21
1    Smith   32
2  William   29

In [90]:
#Head function
d1=pd.DataFrame({'num1': np.arange(0,100,5,int) }) 
d2=pd.DataFrame({'num2': np.arange(0,100,5,int) }) 
print(d1.head())
print(d1.mean())

   num1
0     0
1     5
2    10
3    15
4    20
num1    47.5
dtype: float64

In [97]:
#merge and rename function
left = pd.DataFrame({  
   'id':[1,2,3,4,5],  
   'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],  
   'subject_id':['sub1','sub2','sub4','sub6','sub5']})  
right = pd.DataFrame({  
    'id':[1,2,3,4,5],  
   'Name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'],  
   'subject_id':['sub2','sub4','sub3','sub6','sub5']})  
d3=pd.merge(left,right,on='id')  
print(d3)
d3.rename(columns = {'Name_x':'Name'}, inplace = True)
print(d3)

   id  Name_x subject_id_x Name_y subject_id_y
0   1    Alex         sub1  Billy         sub2
1   2     Amy         sub2  Brian         sub4
2   3   Allen         sub4   Bran         sub3
3   4   Alice         sub6  Bryce         sub6
4   5  Ayoung         sub5  Betty         sub5
   id    Name subject_id_x Name_y subject_id_y
0   1    Alex         sub1  Billy         sub2
1   2     Amy         sub2  Brian         sub4
2   3   Allen         sub4   Bran         sub3
3   4   Alice         sub6  Bryce         sub6
4   5  Ayoung         sub5  Betty         sub5

In [98]:
#sample function
d1=pd.DataFrame({'num1': np.arange(0,100,5,int) }) 
d2=d1.sample(n=3)
print(d2)

   num1
0     0
5    25
1     5

In [103]:
#shift function
d1=pd.DataFrame({'num1': np.arange(0,100,5,int) }) 
d2=d1.shift(periods=2,axis=1,fill_value=70)
#d2=d1.shift(periods=2)
print(d2)

    num1
0     70
1     70
2     70
3     70
4     70
5     70
6     70
7     70
8     70
9     70
10    70
11    70
12    70
13    70
14    70
15    70
16    70
17    70
18    70
19    70

In [116]:
#Sort function
info = pd.DataFrame(index=[3,4,1,2])
info = pd.DataFrame({'col1':[7,1,8,3],'col2':[8,12,4,9]})  
print(info) 
info1=info.sort_values(by='col1')
print(info1)
#transpose function
print(info1.transpose())
#Adding columns
info1['colum3']=24
print(info1)
#converting to numpy array
a=info1.to_numpy()
print(a)

   col1  col2
0     7     8
1     1    12
2     8     4
3     3     9
   col1  col2
1     1    12
3     3     9
0     7     8
2     8     4
       1  3  0  2
col1   1  3  7  8
col2  12  9  8  4
   col1  col2  colum3
1     1    12      24
3     3     9      24
0     7     8      24
2     8     4      24
[[ 1 12 24]
 [ 3  9 24]
 [ 7  8 24]
 [ 8  4 24]]

In [25]:
df = pd.read_csv('data.csv')

#print(df) 
print(pd.options.display.max_rows) 
pd.options.display.max_rows = 9999

#print(df.head())
#print(df.tail())
#print(df.info())
#df = pd.read_csv('data.csv')

new_df = df.dropna()

print(new_df.to_string())
new_df.to_csv('data1.csv')

9999
     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.0
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
28         60    100       132     280.0
29         60    102       129     380.3
30         60     92       115     243.0
31         45     90       112     180.1
32         60    101       124     299.0
33         60     93       113     223.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.0
37         60    100       120     300.0
38         60    100       120     300.0
39         45    104       129     266.0
40         45     90       112     180.1
41         60     98       126     286.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
45         60     99       119     273.0
46         60    109       153     387.6
47         45    111       136     300.0
48         45    108       129     298.0
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
54         30    136       175     238.0
55         60    121       146     450.7
56         60    118       121     413.0
57         45    115       144     305.0
58         20    153       172     226.4
59         45    123       152     321.0
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
63         45    118       141     341.0
64         20    110       130     131.4
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
68         20    106       136     110.4
69        300    108       143    1500.2
70        150     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        150     97       127     953.2
74         45    114       146     304.0
75         90     98       125     563.2
76         45    105       134     251.0
77         45    110       141     300.0
78        120    100       130     500.4
79        270    100       131    1729.0
80         30    159       182     319.2
81         45    149       169     344.0
82         30    103       139     151.1
83        120    100       130     500.0
84         45    100       120     225.3
85         30    151       170     300.0
86         45    102       136     234.0
87        120    100       157    1000.1
88         45    129       103     242.0
89         20     83       107      50.3
90        180    101       127     600.1
92         30     90       107     105.3
93         15     80       100      50.5
94         20    150       171     127.4
95         20    151       168     229.4
96         30     95       128     128.2
97         25    152       168     244.2
98         30    109       131     188.2
99         90     93       124     604.1
100        20     95       112      77.7
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
104        30     92       108      92.7
105        30     93       128     124.0
106       180     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
109       210    137       184    1860.4
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4